<HTML>
    <BODY bgcolor="white">
        <form action = "" method = "POST">
            <b><label for="empno">Employee Number:</label></b>
            <input type = "text" name="empno"/><br><br>
            <b><label for="empname">Employee Name:</label></b>
            <input type = "text" name ="empname"/><br><br>
            <b><label for="salary">Employee Salary:</label></b>
            <input type = "text" name = "salary"/><br><br>
            <input type = "submit">
            </table>
        </form>
    </BODY>
</HTML>
